{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
      <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
      
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Nembang Yuk</title>  
      {% block head %}
      {% endblock %}
  </head>
  <body>
    {% block header %}
    <nav class = "navbar navbar-expand-sm bg-primary navbar-light fixed-top text-white">
          <ul class="navbar-nav">
            <li class = "nav-item"> 
              <a class="nav-link navbar-brand" href="{% url 'home' %}#home"><img src="{% static 'avatar.svg' %}" alt="Logo-home" id="logo"></a>
            </li>
          </ul>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item text-white">
                <a class="nav-link" href="{% url 'home' %}#about">About Us</a>
             </li>
             <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}#skills">Quiz</a>
            </li>
           </ul>
         </div>
       </nav>
    {% endblock %}

    {% block body %}
    <div class ="container-fluid">
      <div id = "content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
  </body>
</html> 


