{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<script src="{% static 'js/game.js' %}"></script>
	
<div  class="row" style="margin-top:20px;">
	<div class="col-sm-1"></div>
	<div class="col-sm-4">
		<img src="" id="picframe" style="width:352px;height:536px;">
	</div>
	<div class="col-sm-7">
		<div style="margin-top:30px;">
			<center><h2><b>Siapakah Dia?</b></h2></center><br>
			<button id="btn0" style="background-color:#d82e2e;color:white;" class="btn tombol" onclick="get_answer(0)"></button><br>
			<button id="btn1" style="background-color:#214092;color:white;" class="btn tombol" onclick="get_answer(1)"></button><br>
			<button id="btn2" style="background-color:#d82e2e;color:white;" class="btn tombol" onclick="get_answer(2)"></button><br>
			<button id="btn3" style="background-color:#214092;color:white;" class="btn tombol" onclick="get_answer(3)"></button><br>
			<button id="btn4" style="background-color:#d82e2e;color:white;" class="btn tombol" onclick="get_answer(4)"></button><br>

		</div>
	</div>
</div>
<br>
<div  class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-11">
		<div class="progress" style="background-color: #ccc9c9;height:40px;">
			<div  id="prog" class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:0%;height:40px;">
			</div>
			<div style="width:100%;font-size: 20px;padding: 8px;position: absolute;"><center id="persen">0% Complete</center></div>
		</div>
	</div>
</div>

<a href="#myModal" id="tampil" class="btn btn-lg btn-primary" data-toggle="modal" style="display:none;" data-keyboard="false" data-backdrop="static">Launch Demo Modal</a>
<div id="myModal" class="modal fade" style="left:35%;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" id="keluar" class="close" data-dismiss="modal" style="display:none" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Maaf jawaban mu salah, yang benar:</h4>
			</div>
			<div class="modal-body">
				<center><h3 id="KJ"></h3></center>
			</div>
			<div class="modal-footer">
				<button type="button" onclick="get_question();keluar();" class="btn btn-primary">Lanjut</button>
			</div>
		</div>
	</div>
</div>
<script>
	shuffle(aktif);
	get_question();
</script>

{% endblock %}


