{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row d-flex justify-content-center" style="margin-top:5em;">
	<a href="{% url 'game' %}" class="btn btn-success">Start</a>
</div>

{% endblock %}

